#navbar{
    font-size: 30px;
    font-family: 'Yusei Magic', sans-serif;
}

#nav{
    background-color: teal;
    font-family: 'Yusei Magic', sans-serif;
}

#cardTitle{
    font-family: 'Yusei Magic', sans-serif;
    font-size: larger;
}

#cardBody{
    font-family: 'Yusei Magic', sans-serif;
    font-size: larger;
}

#admin{ 
    font-family: 'Yusei Magic', sans-serif;
    background-color:  teal;
    color: white
}

#usernameLabel{
    font-family: 'Yusei Magic', sans-serif;
    font-size: larger;
    color: white;
}

#chirpLabel{
    font-family: 'Yusei Magic', sans-serif;
    font-size: larger;
    color: white;
}

#createButton{
    font-family: 'Yusei Magic', sans-serif;
    font-size: larger;
    background-color:  teal;
    color: white
}

#chirpButton{
     font-family: 'Yusei Magic', sans-serif;
    font-size: larger;
    background-color:  teal;
    color: white
}

#postLink {
    font-family: 'Yusei Magic', sans-serif;
    font-size: larger;
    background-color: white;
    color: teal;
    float: r;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
