#body{
    background-color: rgb(21, 32, 43);
}

.navbar{
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-color: rgb(21, 32, 43);
}

#card{
    font-family: 'Roboto Condensed', sans-serif;
}

#cardBody{
    font-family: 'Architects Daughter', cursive;
}

#label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    color: white;
}

#button{
    font-family: 'Roboto Condensed', sans-serif;
    background:rgb(29, 161, 242);
    box-shadow: 0 0 1px #ccc;
    transition: all 0.3s ease-in-out;
    border: 0px;
    color: #fff;
    border-radius: 9999px;
}

#editButton {
    font-family: 'Roboto Condensed', sans-serif;
    background:rgb(29, 161, 242);
    box-shadow: 0 0 1px #ccc;
    transition: all 0.3s ease-in-out;
    border: 0px;
    color: #fff;
    border-radius: 9999px;
    font-weight: 900;
}

#editButton:hover{
    transform: scale(1.1);
    background: white;
    color: black
}

#button:hover{
    transform: scale(1.1);
    background: white;
    color: black
}

#postLink {
    font-family: 'Roboto Condensed', sans-serif;
    background-color:rgb(29, 161, 242);
    color: white;
    float: r;
    box-shadow: 0 0 1px #ccc;
    transition: all 0.3s ease-in-out;
    border: 0px;
    text-decoration: none;
    border-radius: 9999px;
}

#postLink:hover{
    transform: scale(1.1);
    background:white;
    color: black
    
}

#chirppic{
    border-radius: 30%;
    opacity: 0.9;
    box-shadow: 0 0 1px #ccc;
    transition: all 0.3s ease-in-out;
}

#chirppic:hover{
    transform: scale(1.1);
    opacity: 100%;

}

#latest {
    color: white;    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
